<div class="container p-3">
  <div class="row align-items-center">
    <div class="col-12 text-center text-md-start mb-3 mb-md-0">
      <a href="../">
        <img class="navbar-logo" src="../assets/3D-logo.png" alt="3D-logo" />
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-7">
      <div class="row">
        <div class="col-12 col-md-6 text-center text-md-start">
          <h5 class="jockey">Desarrolladores</h5>
          <p class="m-0 roboto-flex">Frida Mercado</p>
          <p class="m-0 roboto-flex">Yair Guadarrama</p>
          <p class="m-0 roboto-flex">Joaquin Rodriguez</p>
        </div>
        <div class="col-12 col-md-6 text-center text-md-start">
          <h5 class="jockey d-none d-md-block"> </h5>
          <p class="m-0 roboto-flex">Luis Vera</p>
          <p class="m-0 roboto-flex">Enrique Garcia</p>
          <p class="m-0 roboto-flex">Jaqueline Jesus</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-5 text-center text-md-start">
      <h5 class="jockey d-none d-md-block"> </h5>
      <a
        class="roboto-flex text-black text-decoration-none me-3"
        href="../views/register.html"
      >
        ¿Eres nuevo? Decora tu espacio con 3D-Garden. </a
      ><br />
      <a
        class="roboto-flex text-black text-decoration-none"
        href="../views/login.html"
      >
        ¿Ya eres cliente? Ve nuestro catálogo y sigue decorando tu espacio.
      </a>
    </div>
  </div>
</div>
