<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a href="../"><img class="navbar-logo" src="../assets/3D-logo.png" alt="3D-logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  d-lg-flex justify-content-lg-end mt-1" id="navbarNav">
            <ul class="navbar-nav ms-sm-auto ms-md-auto">
                <li class="nav-item" id="home-btn"><a class="nav-link text-center" href="../">Inicio</a></li>
                <li class="nav-item" id="management-btn"><a class="nav-link text-center" href="../views/management.html">Inventario</a></li>
                <li class="nav-item" id="products-btn"><a class="nav-link text-center" href="../views/products.html">Catálogo</a></li>
                <li class="nav-item"><a class="nav-link text-center" href="../views/about-us.html">Sobre Nosotros</a></li>
                <li class="nav-item"><a class="nav-link text-center" href="../views/contact.html">Contactanos</a></li>
                <li class="nav-item" id="register-btn"><a class="nav-link text-center" href="../views/register.html">Registrate</a></li>
                <li class="nav-item" id="login-btn"><a class="nav-link text-center" href="../views/login.html">Login</a></li>
                <li class="nav-item" id="logout-btn"><a class="nav-link text-center" href="#" onclick="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>